<section *ngIf="comments.length > 0" class="">
  <h4 class="text-center py-2"><Strong> Comentarios</Strong></h4>
  <div class="px-3 row align-items-center" *ngFor="let comment of comments,let i = index">
    <div class="col-11">
      <p><span class="fw-bold"> Nombre:</span> {{ comment.name }}</p>
      <p *ngIf="comment.email"> <span class="fw-bold">Email:</span> {{ comment.email }}</p>
      <p> <span class="fw-bold">Comentario:</span> {{ comment.body }}</p>
    </div>
    <div *ngIf="comment.date" class="col-1">
      <button (click)='deleteComment(i)' class="btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16"
          height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
          <path
            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
          <path fill-rule="evenodd"
            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
        </svg></button>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <button (click)="emitirData()" [disabled]="!lasCommentDate()" class="btn btn-outline-primary my-3 px-5">
      Emitir
    </button>
  </div>
</section>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="my-4" autocomplete="off">
  <fieldset>
    <legend class='ms-5 mt-3'>Tus Datos</legend>
    <input class="form-control mt-3 mb-1" formControlName="name" id="nombre" placeholder="Nombre" type="text"
      aria-describedby="validationName" [ngClass]="{'is-invalid':isInvalid('name'),'is-valid':isValid('name')}" />
    <span class='form-text text-start text-danger' *ngIf='isInvalid("name")'>
      {{form.controls['name'].errors?.['required'] && 'Campo requerido'}}
      {{form.controls['name'].errors?.['minlength'] && 'Minimos 3 letras'}}
    </span>
    <input class="form-control mt-3 mb-1" formControlName="email" type="email" placeholder="infor@mobydigital"
      aria-describedby="validationEmail" [ngClass]="{'is-invalid':isInvalid('email'),'is-valid':isValid('email')}" />
    <span class='form-text text-start text-danger' *ngIf='isInvalid("email")'>
      {{form.controls['email'].errors?.['required'] && 'Campo requerido'}}
      {{form.controls['email'].errors?.['email'] && 'El correo ingresado No es valido'}}
    </span>
    <textarea class="form-control mt-3 mb-1" formControlName="body" id="mensaje"
      placeholder="Agrega tus comentarios aqui" rows="10"
      [ngClass]="{'is-invalid':isInvalid('body'),'is-valid':isValid('body')}"></textarea>
    <span class='form-text text-start text-danger' *ngIf='isInvalid("body")'>
      {{form.controls['body'].errors?.['required'] && 'Campo requerido.'}}
      {{form.controls['body'].errors?.['maxlength'] && 'El comentario no puede superar los 500 caracteres.'}}
    </span>
    <div class='button-form'>
      <button class="btn btn-primary my-4 px-5" [ngClass]="{'btn-danger':form.invalid}" type="submit"
        [disabled]="form.invalid">
        Agregar
      </button>
      <button class="btn btn-danger my-4 px-5" (click)='this.form.reset()' [disabled]="!form.touched"
        type='button'>Limpiar</button>
    </div>
  </fieldset>
</form>
