<form [formGroup]="form" (ngSubmit)="onSubmit()" class="mt-4" autocomplete="off">
  <fieldset>
    <legend class='ms-5 mt-3'>Tus Datos</legend>
    <input class="form-control mt-3 mb-1" formControlName="name" id="nombre" placeholder="Nombre" type="text"
      aria-describedby="validationName" [ngClass]="{'is-invalid':isInvalid('name'),'is-valid':isValid('name')}" />
    <span class='form-text text-start text-danger' *ngIf='isInvalid("name")'>
      {{form.controls['name'].errors?.['required'] && 'Campo requerido'}}
      {{form.controls['name'].errors?.['minlength'] && 'Minimos 3 letras'}}
    </span>
    <input class="form-control mt-3 mb-1" formControlName="email" type="email" placeholder="infor@mobydigital"
      aria-describedby="validationEmail" [ngClass]="{'is-invalid':isInvalid('email'),'is-valid':isValid('email')}" />
    <span class='form-text text-start text-danger' *ngIf='isInvalid("email")'>
      {{form.controls['email'].errors?.['required'] && 'Campo requerido'}}
      {{form.controls['email'].errors?.['email'] && 'El correo ingresado No es valido'}}
    </span>
    <textarea class="form-control mt-3 mb-1" formControlName="body" id="mensaje"
      placeholder="Agrega tus comentarios aqui" rows="10"
      [ngClass]="{'is-invalid':isInvalid('body'),'is-valid':isValid('body')}"></textarea>
    <span class='form-text text-start text-danger' *ngIf='isInvalid("body")'>
      {{form.controls['body'].errors?.['required'] && 'Campo requerido.'}}
      {{form.controls['body'].errors?.['maxlength'] && 'El comentario no puede superar los 500 caracteres.'}}
    </span>
    <div class='button-form'>
      <button class="btn btn-primary my-4 px-5" [ngClass]="{'btn-danger':form.invalid}" type="submit" [disabled]="form.invalid">
        Agregar
      </button>
      <button class="btn btn-danger my-4 px-5" (click)='this.form.reset()' type='button'>Limpiar</button>
    </div>

  </fieldset>
</form>
